# coding: utf-8

"""
    OmicIDX

        The OmicIDX API documentation is available in three forms:  - [RapiDoc](/docs) - [OpenAPI/Swagger Interactive](/swaggerdoc) - [ReDoc (more readable in some ways)](/redoc)    # noqa: E501

    The version of the OpenAPI document: 0.99
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from omicidx_client.api_client import ApiClient
from omicidx_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class GEOPlatformsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def by_accession_geo_platform_accession_get(self, accession, **kwargs):  # noqa: E501
        """Platform By Accession  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.by_accession_geo_platform_accession_get(accession, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str accession: An accession for lookup (required)
        :param list[str] include_fields: Fields to include in results. The default is to all fields (*)
        :param list[str] exclude_fields: Fields to exclude from results. The default is to not exclude any fields. 
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.by_accession_geo_platform_accession_get_with_http_info(accession, **kwargs)  # noqa: E501

    def by_accession_geo_platform_accession_get_with_http_info(self, accession, **kwargs):  # noqa: E501
        """Platform By Accession  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.by_accession_geo_platform_accession_get_with_http_info(accession, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str accession: An accession for lookup (required)
        :param list[str] include_fields: Fields to include in results. The default is to all fields (*)
        :param list[str] exclude_fields: Fields to exclude from results. The default is to not exclude any fields. 
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(object, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'accession',
            'include_fields',
            'exclude_fields'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method by_accession_geo_platform_accession_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'accession' is set
        if self.api_client.client_side_validation and ('accession' not in local_var_params or  # noqa: E501
                                                        local_var_params['accession'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `accession` when calling `by_accession_geo_platform_accession_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'accession' in local_var_params:
            path_params['accession'] = local_var_params['accession']  # noqa: E501

        query_params = []
        if 'include_fields' in local_var_params and local_var_params['include_fields'] is not None:  # noqa: E501
            query_params.append(('include_fields', local_var_params['include_fields']))  # noqa: E501
            collection_formats['include_fields'] = 'multi'  # noqa: E501
        if 'exclude_fields' in local_var_params and local_var_params['exclude_fields'] is not None:  # noqa: E501
            query_params.append(('exclude_fields', local_var_params['exclude_fields']))  # noqa: E501
            collection_formats['exclude_fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/geo/platform/{accession}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
